CurrencyConverter==0.17.9
folium==0.14.0
forex-python==1.8
haversine==2.8.0
inflection==0.5.1
jupyterlab==4.0.2
matplotlib==3.5.3
numpy==1.23.4
pandas==1.4.3
Pillow==9.4.0
plotly==5.15.0
plotly-express==0.4.1
st-pages==0.4.1
streamlit==1.23.1
streamlit-folium==0.12.0

